[submodule "modules/ksf_modules_dao"]
	path = modules/ksf_modules_dao
	url = https://github.com/ksfraser/ksf_ModulesDAO.git
[submodule "modules/ksfraser_html"]
	path = modules/ksfraser_html
	url = https://github.com/ksfraser/HTML.git
